.btn-icon-only {
    i {
        margin: 0;
    }
}

// comment name, delete button inline
.comment {
    .text {
        a,
        .btn {
            display: inline-block;
        }
    }
    .image {
        height: auto !important;
        width: auto !important;
    }
}

p {
    font-size: 16px;
}

.donation-box {
    .panel-heading {
        img {
            min-width: auto !important;
        }
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

