// Donation CTA
.donate-cta {
    &.small {
        hr {
            &.space {
                height: 10px;
            }
        }
        #donation-cta-img-left {
            max-width: 300px !important;
        }
        h1 {
            &.heading-jumbo {
                font-size: 30px;
            }
        }
    }
}

.donation-snippet {
    font-weight: 300;
    width: 100%;
    .donation-snippet-icon {
        vertical-align: middle;
        font-size: 90px;
    }
    .donation-snippet-text {
        vertical-align: middle;
        font-size: 40px;
    }
}